<nav class="navbar navbar-light navbar-expand-lg bg-light">
  <a class="navbar-brand" href="#">NgRx Demo</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Ryan Tate
          <span class="badge bg-danger">4</span>
        </a>
        <div *dropdownMenu class="dropdown-menu">
          <a class="dropdown-item" href="#">Edit Profile</a>
          <a class="dropdown-item" href="#">Alerts <span class="badge bg-danger">4</span></a>
          <a class="dropdown-item" href="#">Log Out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>