
<div class="container-fluid">
  <div>
      <h4>WithLatest Pipe</h4>
      <pre>
          A -> withLatest(B)
      </pre>
      
    <app-two-input-demo #pipeWithLatest></app-two-input-demo>
  </div>

  <div>
    <h4>CombineLatest</h4>
    <pre>
        combineLatest([A, B])
    </pre>
    
    <app-two-input-demo #combineLatest></app-two-input-demo>
  </div>

  <div>
    <h4>Merge Pipe</h4>
    <pre>
        A -> merge(B)
    </pre>
    
    <app-two-input-demo #pipeMerge></app-two-input-demo>
  </div>

  <div>
    <h4>Merge</h4>
    <pre>
        merge(A, B)
    </pre>
    
    <app-two-input-demo #merge></app-two-input-demo>
  </div>
</div>